<div class="review-container">
  <mat-card class="box-elevation-z8">
    <mat-list>
      <div mat-subheader>
        {{totalreviewcount}} {{'shared.reviews_viewer.user_review' | translate}}
      </div>
      <mat-form-field appearance="outline">
        <mat-label> {{'shared.reviews_viewer.write_a_review' | translate}}</mat-label>
        <!-- <app-spinner [loading]="dataLoading"></app-spinner> -->
        <input
          matInput
          [formControl]="reviewtext"
          (keyup.enter)="addreview()"
          (keyup.escape)="reset()"
        />
        <button mat-icon-button matSuffix (click)="addreview()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-form-field>
      <ng-container *ngFor="let review of reviews">
        <mat-list-item>
          <mat-icon mat-list-icon>star</mat-icon>
          <div mat-line>{{review.username}}</div>
          <div mat-line>{{review.review}}</div>
          <button
            *ngIf="isUserReview(review.username)"
            mat-icon-button
            matSuffix
            (click)="deletereview(review)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card>
</div>
