<app-navbar [isHidden]="true"></app-navbar>
<app-jumbotron [Heading]="'user.main_heading.your_account'"></app-jumbotron>
<mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="{{'user.form_heading.profile' | translate}}">
    <app-view-profile></app-view-profile
  ></mat-tab>
  <mat-tab label="{{'user.form_heading.edit_profile' | translate}}"
    ><app-edit-profile
      [selectedIndex]="selectedIndex"
      (selectedIndexx)="getselectedIndex($event)"
    ></app-edit-profile>
  </mat-tab>
  <mat-tab label="{{'user.form_heading.to_buy_list' | translate}}">
    <div class="profile-container"></div>
    <app-buy-list></app-buy-list>
  </mat-tab>
</mat-tab-group>
