<app-jumbotron [Heading]="'ADD-PRODUCT'"></app-jumbotron>
<div class="billing-container">
  <mat-card class="edit-profile-card">
    <mat-card-content>
      <form [formGroup]="addproductform">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select
                  required
                  formControlName="selectedcategory"
                  (selectionChange)="onCategorySelect($event)"
                >
                  <mat-option *ngFor="let category of category" [value]="category.name">
                    {{ category.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('selectedcategory','required')"
                  >You must make a selection</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>InnerCategory</mat-label>
                <mat-select
                  required
                  formControlName="selectedinnerCategory"
                  [disabled]="isDisabled"
                >
                  <mat-option
                    *ngFor="let innerCategory of InnerCategory"
                    [value]="innerCategory.name"
                  >
                    {{ innerCategory.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('selectedinnerCategory','required')"
                  >You must make a selection</mat-error
                >
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input
                  autocomplete="off"
                  required
                  matInput
                  formControlName="productNameFormControl"
                />
                <mat-error *ngIf="hasError('productNameFormControl','required')">
                  Product Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Quantity</mat-label>
                <input autocomplete="off" required matInput formControlName="quantityFormControl" />
                <mat-error *ngIf="hasError('quantityFormControl','min')">
                  Enter Positive <strong>value</strong>
                </mat-error>
                <mat-error *ngIf="hasError('quantityFormControl','pattern')">
                  Enter valid <strong>value</strong>
                </mat-error>
                <mat-error *ngIf="hasError('quantityFormControl','required')">
                  Quantity is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input autocomplete="off" required matInput formControlName="priceFormControl" />
                <mat-error *ngIf="hasError('priceFormControl','min')">
                  Enter Positive <strong>value</strong>
                </mat-error>
                <mat-error *ngIf="hasError('priceFormControl','pattern')">
                  Enter valid <strong>value</strong>
                </mat-error>
                <mat-error *ngIf="hasError('priceFormControl','required')">
                  Price is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Product Description</mat-label>
                <textarea
                  matInput
                  required
                  formControlName="productDescriptionFormControl"
                ></textarea>
                <mat-error *ngIf="hasError('productDescriptionFormControl','required')">
                  Product Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Image URL</mat-label>
                <input
                  autocomplete="off"
                  required
                  matInput
                  formControlName="productImage1FormControl"
                />
                <mat-error *ngIf="hasError('productImage1FormControl','required')">
                  Image is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Image URL-2</mat-label>
                <input autocomplete="off" matInput formControlName="productImage2FormControl" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Image URL-3</mat-label>
                <input autocomplete="off" matInput formControlName="productImage3FormControl" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<mat-toolbar color="primary" class="edit-footer">
  <button mat-raised-button [disabled]="addproductform.invalid" (click)="AddProduct()">
    Save
  </button>
  &nbsp; &nbsp; &nbsp; &nbsp;

  <button mat-raised-button (click)="cancel()" color="warn">
    Cancel
  </button>
</mat-toolbar>
