<app-jumbotron [Heading]="'admin.main_heading.update_product'"></app-jumbotron>
<div class="delete-container">
  <div class="delete-input">
    <app-big-input
      [placeholder]="'admin.productform.enter_the_productid'"
      (keyup)="onInputChanged($event.target.value)"
    >
      <app-big-input-action
        [color]="'accent'"
        [iconname]="'edit'"
        (action)="onProductUpdate()"
        [disabled]="isDisabled"
        [matTooltip]="'app.examples.todos.tooltip.remove' | translate"
        matTooltipPosition="after"
      >
      </app-big-input-action>
    </app-big-input>
  </div>
</div>
<app-footer></app-footer>
