// .overlay {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index: 1002;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   min-height: 600px;
//   top: 70%;
//   left: 80%;
// }
.spinner {
  position: absolute;
  top: 85%;
  left: 45%;
}
