<app-jumbotron [Heading]="'ALL-PRODUCTS'"></app-jumbotron>
<div class="outer-wrap">
  <mat-card class="display-products-card">
    <mat-card-content>
      <div>
        <div style="padding-right: 30px;">
          <button
            mat-icon-button
            class="pull-right"
            [matTooltip]="'hello'"
            matTooltipPosition="above"
          >
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
      <div class="u-margin-top-15">
        <div>
          <mat-form-field class="search-block" floatLabel="never">
            <input matInput autocomplete="off" (keyup)="applyFilter($event)" placeholder="Search" />
            <mat-icon matSuffix style="font-size: 18px;">search</mat-icon>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div>
          <app-spinner [loading]="dataLoading"></app-spinner>
          <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
            <ng-container matColumnDef="image">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let element">
                <img style="width: 40px;height: 40px;" src="{{ element.image }}" />
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Quantity
              </th>
              <td mat-cell *matCellDef="let element">
                <!-- <div class="input-quantity">
                  <mat-form-field class="search-field" appearance="outline">
                    <input
                      matInput
                      type="number"
                      readonly
                      value="{{ element.quantity }}"
                      max="10"
                    />
                  </mat-form-field>
                </div> -->
                {{ element.productqty }}
              </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element">{{ element.price }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 200px;">
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp; Action
              </th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="
                    expandedElement =
                      expandedElement === element ? null : element
                  "
                >
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                &nbsp;&nbsp;
                <button mat-icon-button color="accent" (click)="updateProduct(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                &nbsp;&nbsp;
                <button mat-icon-button color="warn" (click)="removeProduct(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    element == expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <div class="example-element-diagram">
                    <div class="example-element-position">
                      <img style="width: 100px;height: 100px;" src="{{ element.image }}" />
                    </div>
                    <!-- <div class="example-element-symbol">{{ element.name }}</div>
                    <div class="example-element-name">{{ element.price }}</div>
                    <div class="example-element-weight">
                      {{ element.quantity }}
                    </div> -->
                  </div>
                  <div class="example-element-description">
                    {{ element.description }}
                    <span class="example-element-description-attribution">
                      -- Wikipedia
                    </span>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: columnsToDisplay"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
