<!-- <div class="card-list">
      <div class="roww">
        <div class="col-lg-6">
  <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>
                <div class="action-wrap">
                  <button mat-raised-button color="accent">
                    Save
                  </button>
                  <br /><br /><br />
                  <button mat-raised-button color="warn">
                    Cancel
                  </button>
                </div>
              </mat-card-title>
            </mat-card-header>
          </mat-card>
  </div>
  <div class="col-lg-6"> -->
<div class="edit-container">
  <mat-card class="edit-profile-card">
    <mat-card-title>Edit Profile details</mat-card-title>
    <br />
    <mat-card-content>
      <form #myForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput [formControl]="usernameFormControl" />
          <mat-error
            *ngIf="
              usernameFormControl.errors?.minlength &&
              !usernameFormControl.hasError('required')
            "
          >
            Name must be at least 3 characters long.
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Profile Pic</mat-label>
          <input matInput [formControl]="photoFormControl" />
          <mat-error *ngIf="photoFormControl.hasError('required')">
            Profile Pic is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [formControl]="passwordFormControl" />
          <mat-error
            *ngIf="
              passwordFormControl.errors?.minlength &&
              !passwordFormControl.hasError('required')
            "
          >
            Password must be at least 4 characters long.
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  <!-- </div>
      </div>
    </div> -->
</div>
<mat-toolbar color="primary" class="edit-footer">
  <div
    class="footer-button"
    style="position: relative;
    left: 80%;"
  >
    <button mat-raised-button style="width: 60%">
      Save
    </button>
    &nbsp;
    <button
      mat-raised-button
      style="width: 60%;"
      (click)="cancel()"
      color="warn"
    >
      Cancel
    </button>
  </div>
</mat-toolbar>
