<div class="input-template">
  <mat-card class="input-card">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <form class="input-form">
      <mat-form-field class="input-full-width">
        <mat-label>Username</mat-label>
        <input matInput [formControl]="usernameFormControl" />
        <mat-error
          *ngIf="
            usernameFormControl.errors?.minlength &&
            !usernameFormControl.hasError('required')
          "
        >
          Username must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="passwordFormControl" />
        <mat-error
          *ngIf="
            passwordFormControl.errors?.minlength &&
            !passwordFormControl.hasError('required')
          "
        >
          Password must be at least 4 characters long.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="signin-btn" (click)="login()">
        Sign In
      </button>
      <button mat-raised-button class="google-btn" (click)="loginWithGoogle()">
        Sign up with google
      </button>
      <button
        mat-raised-button
        class="facebook-btn"
        (click)="loginWithFacebook()"
      >
        Sign up with Facebook
      </button>
    </mat-card-actions>
    <div class="input-text">
      Not a member?
      <a [routerLink]="['/register/#']"> Register</a>
    </div>
  </mat-card>
</div>
