// -------------------------- Bootstrap Properties ------------------------------------
.four-part {
  flex: 0 0 25%;
  width: 25%;
}
.three-part {
  flex: 0 0 33.3%;
  width: 33.3%;
}
.two-part {
  flex: 0 0 50%;
  width: 50%;
}
.one-part {
  flex: 0 0 100%;
  width: 100%;
  min-width: 576px;
}
.one-part,
.two-part,
.three-part,
.four-part {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
// -------------------------- Dim the background opacity -------------------------------
.dimmed {
  opacity: 0.2;
}
