// -------------------------- Bootstrap Properties ------------------------------------
.four-part {
  flex: 0 0 25%;
  width: 25%;
}
.three-part {
  flex: 0 0 33.3%;
  width: 33.3%;
}
.two-part {
  flex: 0 0 50%;
  width: 50%;
}
.one-part {
  flex: 0 0 100%;
  width: 100%;
  min-width: 576px;
}
.eight-part {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.one-part,
.two-part,
.three-part,
.four-part,
.eight-part {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
// -------------------------- Dim the background opacity -------------------------------
.dimmed {
  opacity: 0.2;
  // background: rgba(0, 0, 0, 0.15) !important;
}
//--------------------------- Admin Management Big Inputs ------------------------------

.big-input-container {
  min-height: 540px;
  .big-delete-input {
    padding: 150px 150px 0px 150px;
  }
}
//--------------------------- Scroll Button ------------------------------
.c-go-to-top {
  position: fixed !important;
  cursor: pointer !important;
  box-shadow: 0 0 22px #00000063 !important;
  .mat-icon {
    margin: -15px !important;
  }
}

//--------------------------- For Centre Anything ------------------------------
.centre-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

//--------------------------- Big Texts On Cards ------------------------------
.display-text {
  font-size: 20px;
  &:hover {
    color: rgb(103, 58, 183);
    cursor: pointer;
  }
}
//--------------------------- Background Effect on Table and cards ------------------------------
.box-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}
