.user-order-container {
  min-height: 550px;
  .user-order {
    padding: 50px;
    .mat-expansion-panel {
      border-radius: 10px !important;
      &:hover {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
        transform: translateY(0.5px);
        background-color: white !important;
      }
      .mat-expansion-panel-header {
        &:hover{
          background: rgba(0,0,0,.01);
        }
        .roww {
          display: flex;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
        }
        height: 80px !important;
        p {
          position: relative;
          top: 17%;
          left: -37%;
        }
      }
    }
    .product-image {
      width: 30px;
      height: 30px;
    }
    .mat-table {
      width: 100%;
      th.mat-header-cell:last-of-type {
        padding-right: 0px;
      }
      .mat-row {
        &:hover {
          background: whitesmoke;
        }
      }
    }
    .mat-card {
      box-shadow: none;
    }
    .user-image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      position: relative;
      left: 5%;
      object-fit: cover;
    }
  }
}
