<div class="billing-container">
  <mat-card class="edit-profile-card">
    <mat-card-title>Enter Billing Details</mat-card-title>
    <mat-card-content>
      <form [formGroup]="billingform">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input autocomplete="off" required matInput formControlName="nameFormControl" />
                <mat-error *ngIf="hasError('nameFormControl','minlength')">
                  Name must be at least 3 characters long.
                </mat-error>
                <mat-error *ngIf="hasError('nameFormControl','required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>LastName</mat-label>
                <input autocomplete="off" required matInput formControlName="LastnameFormControl" />
                <mat-error *ngIf="hasError('LastnameFormControl','required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input autocomplete="off" required matInput formControlName="emailFormControl" />
                <mat-error *ngIf="hasError('emailFormControl','email')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="hasError('emailFormControl','required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Address Line 1</mat-label>
                <input autocomplete="off" required matInput formControlName="address1FormControl" />
                <mat-error *ngIf="hasError('address1FormControl','required')">
                  Address is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Address Line 2</mat-label>
                <input autocomplete="off" matInput formControlName="address2FormControl" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select required formControlName="selectedcountry">
                  <mat-option *ngFor="let country of country" [value]="country.name">
                    {{ country.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('selectedcountry','required')"
                  >You must make a selection</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>State</mat-label>
                <mat-select required formControlName="selectedstate">
                  <mat-option *ngFor="let state of state" [value]="state.name">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('selectedstate','required')"
                  >You must make a selection</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Pin Code</mat-label>
                <input
                  autocomplete="off"
                  required
                  matInput
                  formControlName="PincodeFormControl"
                  #pinCode
                  placeholder="Ex. 94105"
                />
                <mat-error *ngIf=" hasError('PincodeFormControl','maxlength') ">
                  Pin Code must be of 6 digits
                </mat-error>
                <mat-error *ngIf="hasError('PincodeFormControl','required')">
                  Pin Code is <strong>required</strong>
                </mat-error>
                <mat-hint align="end">{{ pinCode.value.length }} / 6 </mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="checkout-button">
  <button mat-raised-button color="warn" [disabled]="billingform.invalid" (click)="goForward()">
    Confirm And Continue
  </button>
</div>
