<div class="billing-container">
  <mat-card class="edit-profile-card">
    <mat-card-title>Enter Billing Details</mat-card-title>
    <mat-card-content>
      <form>
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input required matInput [formControl]="nameFormControl" />
                <mat-error
                  *ngIf="
                    nameFormControl.errors?.minlength &&
                    !nameFormControl.hasError('required')
                  "
                >
                  Name must be at least 3 characters long.
                </mat-error>
                <mat-error *ngIf="nameFormControl.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>LastName</mat-label>
                <input required matInput [formControl]="LastnameFormControl" />
                <mat-error *ngIf="LastnameFormControl.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input required matInput [formControl]="emailFormControl" />
                <mat-error
                  *ngIf="
                    emailFormControl.hasError('email') &&
                    !emailFormControl.hasError('required')
                  "
                >
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Address Line 1</mat-label>
                <input required matInput [formControl]="address1FormControl" />
                <mat-error *ngIf="address1FormControl.hasError('required')">
                  Address is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Address Line 2</mat-label>
                <input matInput [formControl]="address2FormControl" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select required [formControl]="selectedcountry">
                  <mat-option
                    *ngFor="let country of country"
                    [value]="country.name"
                  >
                    {{ country.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="selectedcountry.hasError('required')"
                  >You must make a selection</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>State</mat-label>
                <mat-select required [formControl]="selectedstate">
                  <mat-option *ngFor="let state of state" [value]="state.name">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="selectedstate.hasError('required')"
                  >You must make a selection</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Pin Code</mat-label>
                <input
                  required
                  matInput
                  [formControl]="PincodeFormControl"
                  #pinCode
                  placeholder="Ex. 94105"
                />
                <mat-error
                  *ngIf="
                    PincodeFormControl.errors?.maxLength &&
                    !PincodeFormControl.hasError('required')
                  "
                >
                  Pin Code must be of 3 digits
                </mat-error>
                <mat-error *ngIf="PincodeFormControl.hasError('required')">
                  Pin Code is <strong>required</strong>
                </mat-error>
                <mat-hint align="end">{{ pinCode.value.length }} / 6 </mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="checkout-button">
  <button mat-raised-button color="warn" (click)="goForward()">
    Confirm And Continue
  </button>
</div>
