<div class="input-template">
  <mat-card class="input-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="input-form" [formGroup]="registerform">
      <mat-form-field class="input-full-width">
        <mat-label>Username</mat-label>
        <input autocomplete="off" matInput formControlName="usernameFormControl" />
        <mat-error *ngIf="hasError('usernameFormControl','minlength')">
          Name must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="hasError('usernameFormControl','required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <mat-label>Email</mat-label>
        <input autocomplete="off" matInput formControlName="emailFormControl" />
        <mat-error *ngIf="hasError('emailFormControl','email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="hasError('emailFormControl','required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <mat-label>Profile Pic</mat-label>
        <input autocomplete="off" matInput formControlName="photoFormControl" />
        <mat-error *ngIf="hasError('photoFormControl','required')">
          Profile Pic is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <mat-label>Password</mat-label>
        <input autocomplete="off" matInput formControlName="passwordFormControl" />
        <mat-error *ngIf="hasError('passwordFormControl','minlength')">
          Password must be at least 4 characters long.
        </mat-error>
        <mat-error *ngIf="hasError('passwordFormControl','required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        [disabled]="registerform.invalid"
        class="signin-btn"
        (click)="register()"
      >
        Register
      </button>
    </mat-card-actions>
    <div class="input-text" style="margin-top: -34px;">
      Already a member?
      <a [routerLink]="['/login']"> login</a>
    </div>
  </mat-card>
</div>
