<mat-toolbar class="nav-bar" color="primary">
  <mat-toolbar-row>
    <button
      id="btnLeftPanel"
      mat-button
      class="nav-button"
      (click)="siteLeftPanel.toggle()"
      [hidden]="isHidden"
    >
      <i class="material-icons">
        menu
      </i>
    </button>
    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <img
      [routerLink]="['/home']"
      style="height:22px"
      src="../../../assets/images/shopx-logo-white.png"
    />
    <div class="search-bar" [hidden]="isHidden || isAdmin">
      <mat-form-field appearance="outline">
        <input matInput />
        <mat-icon matSuffix style="font-size: 25px;margin-right: 20px;">search</mat-icon>
      </mat-form-field>
    </div>
    <span class="example-spacer"></span>
    <div>
      <button mat-raised-button [matMenuTriggerFor]="menu">
        Hello, {{ getUserName() }}
        <mat-icon>arrow_drop_down </mat-icon>
      </button>
      &nbsp;&nbsp;
      <mat-menu #menu="matMenu" xPosition="after">
        <button [hidden]="isAdmin" mat-menu-item [routerLink]="['/usersettings/profile']">
          <mat-icon>account_circle</mat-icon>Your Account
        </button>
        <button [hidden]="isAdmin" mat-menu-item [routerLink]="['/usersettings/my_orders']">
          <mat-icon>assignment</mat-icon>Your Orders
        </button>
        <button [hidden]="isAdmin" mat-menu-item [routerLink]="['/usersettings/wishlist']">
          <mat-icon>favorite</mat-icon>Your Wishlist
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>{{ getLoginStatus() | translate }}
        </button>
        <button mat-menu-item>
          <mat-icon>nights_stay</mat-icon>Night Mode&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-slide-toggle [(ngModel)]="value" (change)="changetheme(value)" color="primary">
          </mat-slide-toggle>
        </button>
      </mat-menu>
      <button [hidden]="isAdmin" mat-raised-button (click)="goToCart()">
        <mat-icon matBadge="3" matBadgeColor="warn" matBadgeOverlap="false" class="cart-icon"
          >shopping_cart
        </mat-icon>
      </button>
      <ng-container *ngIf="!isAdmin"> &nbsp;&nbsp; </ng-container>
      <button mat-raised-button (click)="configureFullscreen()">
        <mat-icon class="fullscreen-icon">{{ getText() }}</mat-icon>
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button class="language-dropdown">
        {{ currentLanguage }}
        <mat-select (selectionChange)="onLanguageSelect($event)">
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
            {{ lang | uppercase }}
          </mat-option>
        </mat-select>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
