<mat-toolbar class="nav-bar">
  <mat-toolbar-row>
    <button
      id="btnLeftPanel"
      mat-button
      class="nav-button"
      (click)="siteLeftPanel.toggle()"
      [hidden]="isHidden"
    >
      <i class="material-icons">
        menu
      </i>
    </button>
    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <img
      [routerLink]="['/home']"
      style="height:22px"
      src="../../../assets/images/shopx-logo-white.png"
    />
    <div class="search-bar" id="mainsearch" [hidden]="isHidden || isAdmin">
      <mat-form-field appearance="outline">
        <input autocomplete="off" matInput />
        <mat-icon matSuffix class="search-icon">search</mat-icon>
      </mat-form-field>
    </div>
    <span class="example-spacer"></span>
    <div class="navbar-buttons">
      <button mat-raised-button [matMenuTriggerFor]="menu">
        {{'nav_bar.hello'| translate}}, {{ getUserName() }}
        <mat-icon>arrow_drop_down </mat-icon>
      </button>
      &nbsp;&nbsp;
      <mat-menu #menu="matMenu" xPosition="after">
        <ng-container *ngFor="let item of optionmenu">
          <button mat-menu-item (click)="route(item.url)">
            <mat-icon>{{item.icon}}</mat-icon>{{item.name | translate}}
          </button>
        </ng-container>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="contact()"><mat-icon>help</mat-icon>Contact us</button>
        <button mat-menu-item (click)="route('/creators/^')">
          <mat-icon>supervisor_account</mat-icon>About The Creators
        </button>
        <button mat-menu-item>
          <mat-icon>nights_stay</mat-icon>{{'nav_bar.menu.night_mode' |
          translate}}&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-slide-toggle [(ngModel)]="value" (change)="changetheme(value)" color="primary">
          </mat-slide-toggle>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>{{ getLoginStatus() | translate }}
        </button>
      </mat-menu>
      <button
        [hidden]="isAdmin"
        matTooltip="{{'tooltip.go_to_cart' | translate}}"
        mat-raised-button
        (click)="goToCart()"
      >
        <mat-icon matBadge="3" matBadgeColor="warn" matBadgeOverlap="false" class="cart-icon"
          >shopping_cart
        </mat-icon>
      </button>
      <ng-container *ngIf="!isAdmin"> &nbsp;&nbsp; </ng-container>
      <button
        mat-raised-button
        (click)="configureFullscreen()"
        matTooltip="{{'tooltip.'+getText() | translate}}"
      >
        <mat-icon class="fullscreen-icon">{{ getText() }}</mat-icon>
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button [matMenuTriggerFor]="languagemenu">
        {{ currentLanguage }}
        <mat-icon>arrow_drop_down </mat-icon>
      </button>
      <mat-menu #languagemenu="matMenu" xPosition="after">
        <ng-container *ngFor="let lang of translate.getLangs()">
          <button mat-menu-item (click)="onLanguageSelect(lang)">
            {{"language."+lang | lowercase | translate }}
          </button>
        </ng-container>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
