<app-loading-bar></app-loading-bar>
<div class="c-wrapper" dynamicTheme>
  <app-navbar [siteLeftPanel]="siteLeftPanel"></app-navbar>
  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
    <mat-sidenav class="c-site-left-panel" #siteLeftPanel mode="side" opened>
      <app-left-panel-container
        [menuItems]="menuItems"
      ></app-left-panel-container>
    </mat-sidenav>
    <mat-sidenav-content class="c-site-middle-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <button
    mat-fab
    color="warn"
    *ngIf="isShow"
    class="c-go-to-top"
    (click)="gotoTop()"
  >
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>
