<app-navbar [isHidden]="true"></app-navbar>
<app-jumbotron [Heading]="'user.main_heading.your_account'"></app-jumbotron>
<mat-tab-group>
  <mat-tab label="{{'user.form_heading.profile' | translate}}">
    <app-image-viewer [product]="productdata.image"></app-image-viewer>
  </mat-tab>
  <mat-tab label="{{'user.form_heading.edit_profile' | translate}}">
    <app-description-viewer [product]="productdata"></app-description-viewer>
  </mat-tab>
  <mat-tab label="{{'user.form_heading.to_buy_list' | translate}}">
    <app-reviews-viewer></app-reviews-viewer>
  </mat-tab>
</mat-tab-group>
