.contact-template {
  padding: 50px 150px 0px 150px;
  .input-card {
    // min-width: 300px;
    // width: 1000px;
    // max-height: 500px;
    width: 100%;
    height: 100%;
    &.mat-card:not([class*='mat-elevation-z']) {
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
    }
    &.mat-card {
      padding: 0;
      border-radius: 10px;
      .mat-card-header {
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #33b5e5;
        height: 100px;
        justify-content: center;
        .mat-card-title {
          color: white;
          position: relative;
          height: 60px;
          font-size: 25px;
          top: 35px;
        }
      }
      .mat-card-actions {
        text-align: center;
        font-size: 10px;
        .signin-btn {
          border: 3px solid #28a745;
          color: #28a745;
          &:hover {
            color: white;
            background-color: #28a745;
          }
        }
        .facebook-btn {
          color: #3f51b5c4;
          border: 3px solid #3f51b5c4;
          &:hover {
            color: white;
            background-color: #3f51b5;
          }
        }
        .google-btn {
          color: #f44336d9;
          border: 3px solid #f44336d9;
          &:hover {
            color: white;
            background-color: #f44336;
          }
        }
        .mat-raised-button {
          width: 72%;
          height: 45px;
          margin-bottom: 20px;
          border-radius: 20px;
          font-size: 18px;
        }
      }
      .input-text {
        margin-top: -10px;
        text-align: center;
      }
    }
    .input-form {
      min-width: 295px;
      width: 100%;
      padding: 30px 60px 0px 60px;
      .table-full-width {
        width: 100%;
        td {
          padding-right: 25px;
        }
        .selection {
          font-size: 17px;
        }
      }
      .input-full-width {
        margin-bottom: 10px;
        width: 100%;
        .mat-input-element {
          margin-top: 1em;
        }
        .mat-form-field-label {
          font-size: 17px;
        }
      }
    }
  }
}
