<app-navbar [isHidden]="true"></app-navbar>
<app-jumbotron [Heading]="heading"></app-jumbotron>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [completed]="step1" [editable]="false">
    <ng-template matStepLabel>Fill out your Billing Address</ng-template>
    <app-billing (step1status)="setstep1status($event)"></app-billing>
  </mat-step>
  <mat-step [completed]="step2" [editable]="false">
    <ng-template matStepLabel>outline out your address</ng-template>
    <app-payment (step2status)="setstep2status($event)"></app-payment>
  </mat-step>
  <mat-step [completed]="false" [editable]="false">
    <ng-template matStepLabel>Success</ng-template>
    <div class="success-card-wrapper">
      <mat-card class="success-card">Order Is Placed Successfully</mat-card>
    </div>
    <div class="checkout-button">
      <button mat-raised-button color="warn" [routerLink]="['/home']">
        Continue Shopping
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
