<app-navbar [isHidden]="true"></app-navbar>
<app-jumbotron [Heading]="heading"></app-jumbotron>
<ng-container>
  <div class="order-container">
    <div class="roww">
      <div class="two-part" *ngFor="let item of orderitems">
        <mat-card class="order-card">
          <mat-card-header class="order-header">
            <img class="order-image" src="{{ item.image }}" />
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>
              <p>Purchased On : {{ item.date }}</p>
              <p>Price : {{ item.price }}</p>
            </mat-card-subtitle>
          </mat-card-header>
          <div class="cancel-button">
            <button mat-raised-button color="accent" (click)="quickview(item)">
              <mat-icon class="cancel-icon">remove_red_eye</mat-icon>
            </button>
            &nbsp;&nbsp;&nbsp;
            <button mat-raised-button (click)="cancelOrder(item)" color="warn">
              <mat-icon class="cancel-icon">cancel</mat-icon>
            </button>
          </div>
        </mat-card>
        <br />
      </div>
    </div>
    <br /><br /><br /><br />
    <div class="order-button-wrap">
      <button mat-raised-button color="primary" [routerLink]="['/home']" class="order-button">
        Continue Shopping
      </button>
    </div>
  </div>
</ng-container>
<app-footer></app-footer>
