.order-container {
  padding: 50px 50px 0px 50px;
  // min-height: 550px;

  .mat-expansion-panel {
    border-radius: 10px !important;
    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
      transform: translateY(4px);
    }
    .mat-expansion-panel-header {
      height: 80px !important;
      background-color: whitesmoke;
      &:hover {
        background: rgba(0, 0, 0, 0.01);
      }
      .user-image {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: relative;
        left: 5%;
        object-fit: cover;
      }
      p {
        position: relative;
        top: 17%;
        left: -37%;
      }
    }
    .mat-table {
      width: 100%;
      th.mat-header-cell:last-of-type {
        padding-right: 0px;
      }
      .mat-row {
        &:hover {
          background: whitesmoke;
        }
        .product-image {
          width: 30px;
          height: 30px;
        }
      }
      .cancel-btn {
        position: relative;
        left: -55px;
      }
    }
    .mat-card {
      box-shadow: none;
    }
  }
}
.order-button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .order-button {
    width: 30%;
  }
}
