.filter-input {
  display: flex;
  justify-content: flex-end;
  margin: 20px 43px 0px 0px;
  .mat-form-field {
    width: 40%;
  }
  .filter-btn {
    height: 48px;
    position: relative;
    min-width: 40px;
    top: 4px;
    border-radius: 4px !important;
  }
}
