<div class="filter-input">
  <mat-form-field appearance="outline">
    <mat-label>search</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  &nbsp;&nbsp;
  <button [matMenuTriggerFor]="filtermenu" color="primary" mat-flat-button class="filter-btn">
    <mat-icon>filter_list</mat-icon>
  </button>
  <mat-menu #filtermenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="onFilter('name')">
      <mat-icon> sort </mat-icon>
      <span>Sort By Name </span>
    </button>
    <button mat-menu-item (click)="onFilter('low')">
      <mat-icon> arrow_downward </mat-icon>
      <span>Low To High</span>
    </button>
    <button mat-menu-item (click)="onFilter('high')">
      <mat-icon> arrow_upward </mat-icon>
      <span>High To Low</span>
    </button>
  </mat-menu>
</div>
