@import '../../../assets/css/var.scss';

.filter-input {
  display: flex;
  justify-content: flex-end;
  margin: 20px 43px 0px 0px;
  font-size: 12px;
  .mat-form-field {
    width: 17.5%;
  }
  .filter-btn {
    background-color: $darkblue;
    color: $white;
    height: 48px;
    position: relative;
    min-width: 25px;
    width: 40px;
    top: 3px;
    max-height: 43px;
    border-radius: 4px !important;

    .mat-icon {
      margin-left: -7px;
      font-size: 21px;
    }
  }
}
.dark-filter-input {
  color: $white !important;
  .filter-btn {
    background-color: $darkblue;
    color: $white;
    .mat-icon {
      color: $white !important;
    }
  }
  .mat-select-value {
    color: rgba(255, 255, 255, 0.87) !important;
  }
  .mat-form-field.mat-focussed.mat-form-field-ripple {
    background-color: $darkpurple !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgba(255, 255, 255, 0.87) !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 255, 255, 0.52) !important;
  }
  .mat-form-field.mat-focussed.mat-form-field-ripple {
    background-color: $darkpurple !important;
  }
  .mat-input-element {
    caret-color: $darkpurple !important;
  }
  .mat-form-field-label {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .mat-input-element::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
  }
}
