/* You can add global styles to this file, and also import other style files */
@import 'assets/css/Globalportal.scss';
@import 'assets/css/white-component.scss';
@import 'assets/css/shared-common.scss';
@import 'assets/css/pre-loader.scss';
@import 'assets/css/variable';

.list-product-style {
  overflow: hidden !important;
  min-height: 900px;
}
.mat-button-focus-overlay {
  background-color: transparent !important;
}
.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important;
}
button:focus {
  outline: none !important;
}
.mat-dialog-container {
  overflow: hidden;
}
.mat-horizontal-content-container {
  padding: 0 !important;
}

