<app-navbar [isHidden]="true"></app-navbar>
<app-jumbotron [Heading]="heading"></app-jumbotron>
<!-- <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col" class="text-right">Action</th>
                <th scope="col" class="text-center">
                  <button
                    (click)="emptycart()"
                    mat-raised-button
                    color="accent"
                  >
                    Empty The Cart
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cartitem of cartitems">
                <td><img src="{{ cartitem.image }}" /></td>
                <td>{{ cartitem.name }}</td>
                <td>
                  <input autocomplete="off"
                    #qty
                    class="form-control"
                    type="number"
                    value="{{ cartitem.quantity }}"
                    min="1"
                    max="{{ cartitem.productqty }}"
                  />
                </td>
                <td class="text-right">{{ cartitem.price }} ₹</td>
                <td class="text-right">
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="updateCart(qty.value, cartitem)"
                  >
                    <mat-icon>refresh</mat-icon>
                  </button>
                </td>
                <td class="text-center">
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="removeFromCart(cartitem)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Sub-Total</td>
                <td class="text-right">{{ totalprice }} ₹</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Shipping</td>
                <td class="text-right">{{ shipping }} ₹</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td class="text-right">
                  <strong>{{ totalprice + shipping }} ₹</strong>
                </td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col mb-2">
        <div class="row">
          <div class="col-sm-12  col-md-6">
            <button
              [routerLink]="['/homepage']"
              routerLinkActive="router-link-active"
              class="btn btn-lg btn-block btn-primary"
            >
              Continue Shopping
            </button>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <button class="btn btn-lg btn-block btn-success text-uppercase">
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="table-wrapper">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img class="product-image" src="{{ element.image }}" />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="input-quantity">
          <mat-form-field class="search-field" appearance="outline">
            <input autocomplete="off"  matInput type="number" value="{{ element.quantity }}" max="10" />
          </mat-form-field>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="updateCart(qty.value, cartitem)">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="accent" (click)="emptycart()">
          Empty the Cart
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="removeFromCart(cartitem)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
<br />
<mat-card class="table-bottom">
  Total Price : Rs 8000
</mat-card>
<br /><br />
<div class="table-bottom">
  <button mat-raised-button style="width: 40%;" [routerLink]="['/home']" color="primary">
    Continue Shopping
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button style="width: 40%;" [routerLink]="['/checkout/#']" color="warn">
    Checkout
  </button>
</div>
<br /><br />
<app-footer></app-footer>
