<div class="description-container">
  <mat-card class="box-elevation-z8">
    <h2>Name : {{product.name}}</h2>
    <h3>CurrentPrice : {{product.price}}</h3>
    <mat-divider></mat-divider>
    <br />
    <div>
      <h3>Product details</h3>
      <ul>
        <ng-container *ngFor="let item of product.details | keyvalue">
          <li><b>{{item.key}}</b> : {{item.value}}</li>
        </ng-container>
      </ul>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div>
      <h3>Description</h3>
      <p>
        {{product.description}}
      </p>
    </div>
  </mat-card>
</div>
